{:deps
 {io.github.tonsky/extend-clj {:mvn/version "0.1.0"}
  org.foundationdb/fdb-java {:mvn/version "7.3.47"}
  io.slatedb/slatedb-uniffi {:mvn/version "0.14.1"}
  com.yetanalytics/colossal-squuid {:mvn/version "0.1.5"
                                    :exclusions
                                    [ ;; important to avoid `java.lang.NoSuchMethodError: 'boolean com.google.protobuf.GeneratedMessageV3.isStringEmpty(java.lang.Object)'         at com.google.cloud.secretmanager.v1.ListSecretsRequest.getSerializedSize(ListSecretsRequest.java:355)`
                                     org.clojure/clojurescript]
                                    }
  }

 :aliases
 {:1.9
  {:override-deps
   {org.clojure/clojure {:mvn/version "1.9.0"}}}

  :1.10
  {:override-deps
   {org.clojure/clojure {:mvn/version "1.10.2"}}}

  :1.11.1
  {:override-deps
   {org.clojure/clojure {:mvn/version "1.11.1"}}}

  :1.12
  {:override-deps
   {org.clojure/clojure {:mvn/version "1.12.0"}}}

  :dev
  {:extra-paths ["dev" "test"]
   :jvm-opts    ["-ea" "-Dslateval.debug" "-Dclojure.main.report=stderr" "-Djdk.attach.allowAttachSelf"
                 "--enable-native-access=ALL-UNNAMED"]
   :extra-deps
   {io.github.tonsky/duti      {:git/sha "e36d65296a4f9758664309ec35b00887e88c405a"}
    com.cognitect/transit-clj  {:mvn/version "1.0.324"}}}

  :bench
  {:extra-paths ["bench"]
   :jvm-opts ["-server"
              "-XX:+UnlockDiagnosticVMOptions"
              "-Djdk.attach.allowAttachSelf"
              "-XX:+DebugNonSafepoints"
              "--enable-native-access=ALL-UNNAMED"]
   :extra-deps
   {io.github.tonsky/duti {:git/sha "e36d65296a4f9758664309ec35b00887e88c405a"}}}

  :datomic
  {:extra-paths ["bench_datomic" "test_datomic"]
   :extra-deps
   {com.datomic/peer {:mvn/version "1.0.6735"}}}}}
